@import url('https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet');

//font for title

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Rozha+One&display=swap" rel="stylesheet">');
//font for the author

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,300&family=Rozha+One&display=swap" rel="stylesheet">
');
